<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .CameraContainer {
        display: table;
      }

      .Camera {
        float: left;
        background-color: #eae0d5;
        position: absolute;
      }
      .CameraElement {
        display: table-cell;
      }
    </style>
    <title>Live Streaming</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="mt-5">Live Streaming</h1>
        <div class="CameraContainer">
          <div class="Camera">
            <img
              class="CameraElement"
              id="cam1"
              src="{{ url_for('video_feed', pod_ip=pod_ip) }}"
              visibility="hidden"
              width="600px"
              height="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
