<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .CameraContainer {
        display: table;
      }

      .Camera {
        float: left;
        background-color: #eae0d5;
        position: absolute;
      }
      .CameraElement {
        display: table-cell;
      }
    </style>
    <title>Live Streaming</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="mt-5">Live Streaming</h1>
        <div class="CameraContainer">
          <div class="Camera">
            <a href="camera">
              <button class="CameraElement" type="button" id="cam1button">
                Show live camera
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
